.nav{
    background:#E3CB8F
  }
.main-body{
    background: #f7efde
}
button{
    background: #f0ebe0!important;
    margin-bottom: 20px;
    width: 100%;
    padding: 16px;
    font-size: 1.6em;
    color: #ADAAA1;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button.active{
    background: #E3CB8F !important;
  }
  
  form span{
    color: 	#ADAAA1 !important;
  }
  .hidden {
    display: none;
  }
  .annotation {
    position:relative;
    text-align: center;
    width: 100px;
    height: 120px;
    padding: 2px;
    font: sans-serif;
    background: #ADAAA1;
    border: 1px solid #aaa;
    border-radius: 8px;
    pointer-events: none;
  }

  .annotation img {
    width: 100%;
  }