.nav{
    background:#E3CB8F
  }
.main-body{
    background: #f7efde;
    color: #aaa;    
}
button{
    background: #f0ebe0!important;
    margin-bottom: 20px;
    width: 100%;
    padding: 16px;
    font-size: 1.6em;
    color: #ADAAA1;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button.active{
    background: #E3CB8F !important;
  }
  
  form span{
    color: 	#ADAAA1 !important;
  }
  .hidden {
    display: none;
  }

  .annotation {
            font-family: Arial, sans-serif;
            font-size: 10px;
            fill: #3B383A; /* Font color */
            font-weight:bold;
            z-index: 10;
            border: 2;
            border-radius: 4px;
        }

  .annotation-bg {
            fill: white; /* Background color */
        }

  #floating-box {
    position: absolute;
    display: none; /* Start hidden */
    pointer-events: none; /* Ensure the box doesn't interfere with mouse events */
  }

  #floating-box img {
    width: 200px; /* Adjust size as needed */
    height: auto;
    border: 2px solid #aaa;
    border-radius: 5px;
 }