.nav{
    background:#E3CB8F
  }
.main-body{
    background: #f7efde
}
button{
    background: #f0ebe0!important;
    margin-bottom: 20px;
    width: 100%;
    padding: 16px;
    font-size: 1.6em;
    color: #ADAAA1;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button.active{
    background: #E3CB8F !important;
  }
  
  form span{
    color: 	#ADAAA1 !important;
  }